extends layout

block content
  h1= title
  - let balls  = results;
  div(class="container-fluid mt-3")
  div(class="row")
    each ball,index in balls
        div(class="col-sm-4" onclick=`buy(${index})`) #{ball.ballType} - #{ball.price} - #{ball.weight}
    script.
     
      function buy(itemNo)
      {
        alert(`You purchased Item ${itemNo+1}`)
      }